.btn {
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  border: none;
  border-radius: 10rem;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .2s;
  & > * {
    height: 100%;
    width: 100%;
    display: inline-block;
    transition: all 0.2s;
  }
  &__visible {
    padding: 2rem 7.5rem;
  }
  &__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0;
  }
  &:hover {
    background-image: linear-gradient(
    to left,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
  }
  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    top: 0;
  }
  &-inline {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid currentColor;
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    padding-bottom: 2px;
    transition: all 0.2s;
    & span {
      margin-left: 0.3rem;
      transition: margin-left 0.2s;
    }
    &:hover {
      color: var(--color-grey-dark-1);
      & span {
        margin-left: 0.8rem;
      }
    }
    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
  }
}
